[core]
whitespace = trailing-space, space-before-tab, cr-at-eol
quotepath = off

[init]
defaultBranch = main

[user]
name  = toogle
email = tooogle@mail.ru

[credential]
helper = osxkeychain

[merge]
tool = vimdiff

[alias]
st    = status
ss    = status -s
ci    = commit
br    = branch
co    = checkout
di    = diff
dc    = diff --cached
sh    = show
shs   = show --stat
plog  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
egrep = grep -E --color=auto

[color]
diff   = auto
status = auto
branch = auto

[push]
default = simple

[pull]
rebase = true
