[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "awesome/.config/awesome/tyrannical"]
	path = awesome/.config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "awesome/.config/awesome/revelation"]
	path = awesome/.config/awesome/revelation
	url = https://github.com/guotsuan/awesome-revelation.git
