XTerm*termName: xterm-256color
XTerm*locale: true
XTerm*reverseVideo: on
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 9
XTerm*bellIsUrgent: true

XLock.mode: blank
XLock.description: off
XLock.echokeys: on
XLock.echokey: *
XLock.nice: 20

Xautolock.time: 5
